:root {
	--color-main: #0C7FEA;
	--color-main-2: #439FF5;
	--color-main-3: #62AFF7;
	--color-main-4: #A1CFFA;
	--color-main-5: #C0DFFC;

	--color-black: #202020;
	--color-black-2: #404040;
	--color-black-3: #808080;
	--color-black-4: #BFBFBF;
	--color-black-5: #EBEBEB;


	--zindex-back: 1;
	--zindex-normal: 10;
	--zindex-tooltip: 100;
	--zindex-fixed: 1000;
	--zindex-modal: 10000;

	--border-radius: 5px;
	--border-inputs: var(--color-black-4);
	--color_text-inputs: var(--color-black-2);
	--color-background: #ededed;
	--box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .1);
}