* {
  box-sizing: border-box;
}


html {
  display: block;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--color-black);
  background-color: var(--color-background);
  padding-top: 64px;
}

.body-overflow-hidden {
  overflow: hidden;
}

.mw-grid {
  width: 100%;
  margin: 0px auto;
  display: grid;
  transition: 0.5s;
}

@media screen and (min-width: 1024px) {
  .mw-grid {
    padding-left: 255px;

  }
}

a {
  text-decoration: none;
  color: var(--color-black);
  cursor: pointer;
  transition: .3s;
}

h1, h2, h3, h4, h5 {
  margin: 0px;
}


ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.section_main {
  padding: 30px;
}
