.options_config {
  width: 16px;
  position: absolute;
  right: 7px;
  top: 7px;
  text-align: center;
  cursor: pointer;
}
.menu_ul_options {
  background-color: var(--color-grey-4);
  border-radius: 3px;
  font-size: 13px;
  overflow: hidden;
  width: 150px;
  position: absolute;
  right: 0px;
  text-align: left;
  z-index: var(--zindex-normal);
  display: none;
  transition: 0.3;
}
.menu_ul_options li a {
  padding: 5px 10px;
  display: block;
}

.menu_ul_options li:hover {
  background-color: var(--color-grey);
}
.menu_ul_options_active {
  display: block;
}
