.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-main);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  height: 30px;
  font-size: 16px;
  transition: .4s;
  padding: 0 20px;
}
.button:hover {
  background-color: var(--color-main-2);
  
}
.button:active {
  background-color: var(--color-main);
}
.button_white {
  background-color: white;
  color: black;
}
.button_white:hover {
  background-color: var(--color-main);
  color: white;
}
.button_white:active {
  background-color: var(--color-main-2);
}
.button_ghost {
  border: 1px solid var(--color-main);
  background-color: initial;
  color: var(--color-main);
}
.button_ghost:hover {
  border: none;
  color: var(--color-main);
}
.button_ghost:active {
  background-color: var(--color-main);
  color: white;
}

.buttom_center {
  margin: auto;
}
