.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-main);
  color: white;
  border-radius: var(--border-radius);
  cursor: pointer;
  border: none;
  height: 44px;
  font-size: 16px;
  transition: .4s;
  padding: 0 14px;
}
.button:hover {
  background-color: var(--color-main-2);
}
.button_w100 {
  width: 100%;
}
.button_w90 {
  width: 90%;
}
.button_w80 {
  width: 80%;
}
.button_w70 {
  width: 70%;
}
.button_w60 {
  width: 60%;
}
.button_w50 {
  width: 50%;
}
.button_w40 {
  width: 40%;
}
.button_w30 {
  width: 30%;
}
.button_w20 {
  width: 20%;
}
.button:active {
  background-color: var(--color-main);
}
.button_white {
  background-color: white;
  color: var(--color-main);
  border: 1px solid var(--color-main);
}
.button_white:hover {
  background-color: var(--color-main);
  color: white;
}
.button_white:active {
  background-color: var(--color-main-2);
}

/* usado hasta aqui por el momento */
.button_ghost {
  border: 1px solid var(--color-main);
  background-color: initial;
  color: var(--color-main);
}
.button_ghost:hover {
  border: none;
  color: var(--color-main);
}
.button_ghost:active {
  background-color: var(--color-main);
  color: white;
}

.buttom_center {
  margin: auto;
}
